@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.custom-header-color {
    background-color: #A5DEC6; /* Apply the custom light green color */
    padding: 20px; /* Optional: Adjust padding for better spacing */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-left: auto; 
    margin-right: 10px;
}

.icon-bell,
.icon-user {
    width: 32px; /* Adjust size as needed */
    height: 32px;
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.user-role {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #666;
}
